@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color: ligthgray;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

nav {
  padding: 10px;
  background-color: dodgerblue;
  background: linear-gradient(to right, dodgerblue, deepskyblue);
}

nav ul {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
  justify-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fullwidth {
  grid-column: 1 / 4;
}

li a {
  text-decoration: none;
  color: white;
}

a {
    position: relative;
    text-decoration: none;
}

a:hover {
    color: lightgray;
}

a:hover::before {
    background-color: lightgray;
}

a::before {
    content: "";
    position: absolute;            
    height: 3px;
    right: 0px;
    bottom: -3px;
    left: 0px;
    background-color: white;
}

.active {
    color: black;
}

.active::before {
    background-color: black;
}

@media (min-width: 600px) {
  nav ul {
    grid-template-columns: 1fr repeat(3, fit-content(75px));
    grid-gap: 20px;
    justify-items: end;
  }
  
  .fullwidth {
    grid-column: 1 / 2;
    /* justify-self: start; */
  }
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.titre {
    text-align: center;
    background-color: dodgerblue;
    background: linear-gradient(to right, dodgerblue, deepskyblue);
    padding: 25px 25px 50px 25px;
    color: white;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin: 25px;
}

.portfolio .realisation {
    background-color: blue;
    align-self: center;
    justify-self: center;
    padding: 25px;
}

.portfolio .realisation img {
    border-radius: 50%;
}

footer {
    text-align: center;
    background-color: dodgerblue;
    background: linear-gradient(to right, dodgerblue, deepskyblue);
}