body {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

nav {
    background-color: dodgerblue;
    background: linear-gradient(to right, dodgerblue, deepskyblue);
}

.titre {
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin: 25px;
}

.portfolio .realisation {
    background-color: blue;
    align-self: center;
    justify-self: center;
    padding: 25px;
}

.portfolio .realisation img {
    border-radius: 50%;
}

footer {
    text-align: center;
    background-color: dodgerblue;
    background: linear-gradient(to right, dodgerblue, deepskyblue);
}