@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color: ghostwhite;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/* HEADER */
header {
    grid-area: header;
}

/* NAVBAR */

nav {
  padding: 10px;
  background-color: dodgerblue;
  background: linear-gradient(to right, dodgerblue, deepskyblue);
}

nav ul {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
  justify-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fullwidth {
  grid-column: 1 / 4;
}

li a {
  text-decoration: none;
  color: white;
}

a {
    position: relative;
    text-decoration: none;
}

a:hover {
    color: lightgray;
}

a:hover::before {
    background-color: lightgray;
}

.active::before {
    content: "";
    position: absolute;            
    height: 3px;
    right: 0px;
    bottom: -3px;
    left: 0px;
    background-color: black;
}

.active {
    color: black;
    font-weight: bold;
}

@media (min-width: 600px) {
  nav ul {
    grid-template-columns: 1fr repeat(3, fit-content(75px));
    grid-gap: 20px;
    justify-items: end;
  }
  
  .fullwidth {
    grid-column: 1 / 2;
  }
}

.titre {
    text-align: center;
    background-color: dodgerblue;
    background: linear-gradient(to right, dodgerblue, deepskyblue);
    padding: 25px 25px 50px 25px;
    color: white;
}

/* MAIN */
main {
    grid-area: main;
    margin: 50px;
}

/* PORTFOLIO */
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 25px;
}

.portfolio .realisation {
    text-align: center;
    align-self: center;
    justify-self: center;
    padding: 25px;
}

.portfolio .realisation img {
    border-radius: 50%;
    max-width: 100%;
}

/* À PROPOS */
.a-propos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
}

.texte-presentation {
    align-self: center;
    text-align: justify;
}

.texte-presentation p {
    padding-bottom: 15px;
}

.lien-vers-technique {
    color: dodgerblue;
}

.lien-vers-technique:hover {
    color: deepskyblue;
}

.bouton {
    background-color: dodgerblue;
    border: none;
    border-radius: 15px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    color: white;
    margin-top: 25px;
    padding: 10px;
}

.bouton:hover {
    background-color: deepskyblue;
    color: white;
    cursor: pointer;
}

.a-propos img {
    justify-self: end;
    max-width: 75%;
}

@media (max-width: 600px) {
    .a-propos {
        grid-template-columns: 1fr;
    }

    .a-propos img {
        justify-self: center;
    }

    .texte-presentation {
        align-self: center;
        justify-self: center;
        text-align: center;
    }
}

/* CONTACT */
.contact {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;
}

@media (max-width: 768px) {
    .contact {
        grid-template-columns: 1fr;
    }
}

form {
    display: grid;
    grid-template-columns: 1fr;
}

label {
    font-size: 15px;
}

input {
    border: 0;
    border-radius: 15px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 10px 0 25px 0;
    padding: 10px;
}

input:focus {
    border: 2px solid black;
    border-radius: 15px;
    outline: none;
}

textarea {
    border: 0;
    border-radius: 15px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px 0 25px 0;
    resize: vertical;
}

textarea:focus {
    border: 2px solid black;
    border-radius: 15px;
    outline: none;
}

button {
    background-color: dodgerblue;
    border: none;
    border-radius: 15px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    color: white;
    font-weight: bold;
    padding: 10px;
}

button:hover {
    cursor: pointer;
    background-color: deepskyblue;
}

.me-joindre {
    display: grid;
    grid-template-columns: 1fr;
    align-items: top;
    margin-bottom: auto;
}

.information {
    display: flex;
    font-size: 20px;
}

.information i {
    margin: 15px 20px 0 0;
}

.spacer {
    margin-top: 25px;
}

.social {
    display: flex;
    margin-bottom: 25px;
}

.social a:hover {
    cursor: pointer;
    color: dodgerblue;
}

.social i {
    margin-right: 25px;
}


/* FOOTER */

footer {
    grid-area: footer;
    text-align: center;
    color: white;
    background-color: dodgerblue;
    background: linear-gradient(to right, dodgerblue, deepskyblue);
    padding: 10px;
}